@use '../../scss/utilities/variables' as var;
@use '../../scss/utilities/mixings' as mix;

.sidebar {
    position: fixed;
    top: var.$zero;
    bottom: var.$zero;
    left: nth(var.$downHundreds, 4);
    width: nth(var.$hundreds, 4);
    transition: all 0.5s;
    background-color: var.$white;
    z-index: var.$one;

    &.is-open {
        left: var.$zero;
    }
    .close-icon{
        position: relative;
        left: var.$mp-u + var.$mp-l;
        font-size: var.$size-k;
        top: var.$size-j;
    }

    .nav{
        @include mix.center(nth(var.$hundreds, 3));
        margin-top: var.$mp-nn;
        text-align: center;
        .nav-item{
            width: var.$per-10;
            text-align: center;
            margin-bottom: var.$size-p;
            .logo{
                font-weight: nth(var.$fw, 9);
            }
            .hour-days p{
                margin: var.$mp-a;     
            }
        }
        .instagram{
            position: relative;
            top: var.$mp-q - var.$mp-f;
        }
    }
}