@use '../../scss/utilities/variables' as var;
@use '../../scss/utilities/mixings' as mix;
.gallery{
    background-image: url('https://user-images.githubusercontent.com/56218293/117150201-3897eb00-adb8-11eb-9acd-c8d2c61ba837.png');
    width: var.$per-10;
    margin-top: var.$size-v;
    background-repeat: no-repeat;
    background-position: center;
    height: nth(var.$hundreds, 8);
    background-attachment: fixed;
    background-size: cover;
    .gallery-caption{
        width: nth(var.$hundreds, 6);
        height: auto;
        font-size: var.$size-p;
        font-family: cursive;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: nth(var.$hundreds, 5);
        color: var.$white;
        text-align: center;
        filter: alpha(opacity=60);
        filter: drop-shadow(var.$mp-b var.$mp-c var.$mp-d var.$black);
    }
}

/*
*
*
*/

/*----- Tablet -----*/


/*Portrait*/

@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {

    .gallery{
        .gallery-caption{
            width: nth(var.$hundreds, 4);
        }
    }
}

/*----- movil -----*/


/*Portrait*/


/*Default*/

@media (max-width: 575.98px) and (orientation:portrait) {

    .gallery{
        .gallery-caption{
            width: auto;
        }
    }
}