@use '../../../scss/utilities/variables' as var;
@use '../../../scss/utilities/mixings' as mix;
/**
MEDIA-QUERY
**/

/*----- Tablet -----*/


/*Portrait*/

@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    .order-history-order-admin{
        width: var.$per-8;
        .order {
            width: var.$per-10;
            margin-bottom: var.$size-p;
            display: contents;
            .order-price {
                margin-bottom: var.$mp-h;
            }
            .order-button,
            .order-cancel,
            .delivered,
            .order-price {
                position: static;
                bottom: var.$mp-a;
                margin: var.$mp-a;
                margin-bottom: var.$mp-f;
            }
            .btn-order-admin {
                display: inline;
                left: var.$mp-a !important;
                width: var.$size-w * 2;
                text-align: center;
                margin: auto;
                margin-right: var.$mp-f;
            }
        }
    }
}

/*----- movil -----*/


/*Portrait*/


/*Default*/

@media (max-width: 575.98px)and (orientation:portrait) {
    .order-history-order-admin{
        width: var.$per-8;
        .order {
            width: var.$per-10;
            margin-bottom: var.$size-p;
            display: contents;
            .order-price {
                margin-bottom: var.$mp-h;
            }
            .order-button,
            .order-cancel,
            .delivered,
            .order-price {
                position: static;
                bottom: var.$mp-a;
                margin: var.$mp-a;
                margin-bottom: var.$mp-f;
            }
            .btn-order-admin {
                display: block;
                left: var.$mp-a !important;
                width: var.$size-w * 2;
                text-align: center;
                margin: auto;
                margin-bottom: var.$mp-f;
            }
        }
    }
}