@use '../../../scss/utilities/variables' as var;
@use '../../../scss/utilities/mixings' as mix;

.starter,
.mainCourse,
.drink,
.dessert,
.menu-shop{
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    overflow: scroll;
    height: 100%;
    margin-left: 4%;
    .product{
        width: 150px;
        height: 175px;
        margin: 40px;
        .product-img{
            .image{
                width: 150px;
                margin: auto;
                height: 120px;
                background-size: cover;
            }
        }
        .product-name{
            width: auto;
            position: relative;
            bottom: 2px;
            color: black;
            text-align: center;
        }
        .product-price{
            position: relative;
            bottom: 172px;
            right: 1px;
            color: cadetblue;
            font-weight: 600;
            font-size: 22px;
            width: 34px;
            text-align: center;
        }
        .product-button{
            @include mix.principal-button(nth(var.$btnBlue, 1), nth(var.$btnBlue, 2), nth(var.$btnBlue, 3));
            width: 100%;
            color: white;
            text-align: center;
            position: relative;
            margin-left: 0;
            bottom: 30px;
        }
    }
}