@use '../../../scss/utilities/variables' as var;
@use '../../../scss/utilities/mixings' as mix;
.order-history-order-admin{
    width: auto;
    padding-left: var.$size-v;
    overflow: scroll;
    .history-title{
        width: auto;
        left: var.$zero;
    }
    .order-admin{
        width: var.$per-10;
        margin: auto;
        .btn-order-admin{
            position: relative;
            left: var.$mp-s - var.$mp-c;
            margin-left: var.$mp-a;
        }
    }
}