.order-history-admin{

}

.order-history-order-admin{
    width: 100%;
    padding-left: 50px;
    overflow: scroll;
    .history-title{
        left: 0;
    }
    .order{
        width: 100%;
        .order-id{}
        .order-date{}
        .order-delivered{}
        .order-price{}
        .order-button{}
        .btn-order-admin{
            position: relative;
            left: 300px;
        }
    }
}