
.profile-component {
    .menu-user {
        height: 644px;
        .menu-user-title {}
    }
    .menu-user-content{
        .menu-user-content-left,
        .menu-user-content-right{
            width: 50%;
            padding-left: 30px;
        }
    }
}