@use '../../scss/utilities/variables' as var;
@use '../../scss/utilities/mixings' as mix;
.menu {
    height: nth(var.$hundreds, 8);
    margin-top: var.$size-w;
    margin-bottom: var.$size-w;
    .menu-title {
        text-align: center;
        font-size: var.$size-ñ;
        padding-top: var.$mp-p + var.$mp-b;
    }
    .menu-content {
        background: white;
        display: flex;
        align-items: center;
        height: var.$per-8;
        margin: auto;
        width: var.$per-10;
        justify-content: center;
        .menu-content-left,
        .menu-content-right {
            width: var.$per-4;
            padding-left: var.$mp-nn - var.$mp-f;
            .food {
                margin-bottom: var.$mp-i;
                .food-title {
                    display: flex;
                    justify-content: space-between;
                    .food-title-price {
                        position: relative;
                        padding-right: var.$size-w + var.$size-g;
                    }
                }
                .food-description {
                    margin-top: var.$mp-d;
                    font-size: var.$size-i;
                }
            }
        }
    }
}


/**
*
* 
*/


/*----- Tablet -----*/


/*Portrait*/

@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    .menu {
        display: none;
    }
}


/*landscape*/

@media (min-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    
    .menu {
        margin-bottom: 100px;
        .menu-content {
            .menu-content-left,
            .menu-content-right {
                width: 447px;
                padding-left: 20px;
            }
        }
    }
}


/*----- movil -----*/


/*Portrait*/


/*Default*/

@media (max-width: 575.98px)and (orientation:portrait) {
    .menu {
        display: none;
    }
}


/*landscape*/

@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    .menu {
        margin-bottom: 100px;
        .menu-content {
            .menu-content-left,
            .menu-content-right {
                width: 440px;
                padding-left: 20px;
            }
        }
    }
}