@use '../../scss/utilities/variables' as var;
@use '../../scss/utilities/mixings' as mix;

.blog-content{
    width: var.$per-10;
    height: var.$mp-v;
    margin-top: var.$size-w * 2;
    display: flex;
    .content-message{
        width: var.$per-5;
        height: var.$per-9;
        margin: auto;
        text-align: center;
        .message-title{
            margin-top: var.$mp-l;
            font-size: var.$mp-l;
            font-weight: nth(var.$fw, 9);
            p{
                margin-bottom: var.$zero;
            }
        }
        .message-subtitle{
            margin-top: var.$mp-i;
            margin-bottom: var.$mp-nn;
        }
        .message-spinner{
            .spinner-border{
                margin: var.$mp-i;
            }
        }
    }
}