@use '../../scss/utilities/variables' as var;
@use '../../scss/utilities/mixings' as mix;

.header {
    @include mix.center(nth(var.$medias, 3));
    height: nth(var.$hundreds, 1);
    justify-content: space-around;
    display: flex;
    margin-top: var.$mp-i;
    .header-left {
        width: var.$per-2;
        margin-left: 30px;
        .icon-align {
            position: relative;
            top: var.$size-s;
            cursor: pointer;
        }
    }
    .header-center {
        width: var.$per-6;
        text-align: center;
        .header-center-ul {
            display: inline-flex;
            .header-center-ul-li {
                margin-right: var.$mp-f;
                margin-left: var.$mp-f;
                cursor: pointer;
                height: var.$per-10;
            }
            .menu-logo {
                background-image: url('https://user-images.githubusercontent.com/56218293/116420709-881d6a80-a83e-11eb-9988-14699833522d.png');
                background-size: var.$per-10;
                width: var.$mp-nn;
                height: var.$mp-nn;
                margin-left: var.$mp-n;
                margin-right: var.$mp-n;
            }
            .ul-li {
                position: relative;
                top: var.$size-s;
                font-size: var.$size-k;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
        }
    }
    .header-right {
        width: var.$per-2;
        margin-right: 30px;
        .icon-align {
            position: relative;
            top: var.$size-s;
            cursor: pointer;
            float: right;
        }
        .icon-align-left {
            margin-right: var.$mp-j;
        }
    }
}


/*----- Escritorio -----*/

@media (min-width: 1199.98px) and (max-width: 1399px) {
    // body {
    //     background: lightblue;
    // }
}


/*----- Tablet -----*/


/*Portrait*/

@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    // body {
    //     background: orange;
    // }

    .header {
        @include mix.center(nth(var.$hundreds, 5)+var.$mp-l);
        .header-left {
            width: var.$per-1 / 2;
            margin-left: var.$mp-a;
        }
        .header-center {
            width: 85%;
            .header-center-ul {
                .menu-logo {
                    width: var.$hundreds / 2;
                    height: var.$hundreds / 2;
                    margin-right: var.$mp-e;
                    margin-left: var.$mp-e;
                }
                .ul-li {
                    font-size: var.$size-j;
                    margin-right: 5px;
                    margin-left: 5px;
                }
            }
        }
        .header-right {
            width: var.$per-1;
            margin-right: var.$mp-a;
            font-size: var.$mp-g;
            .icon-align-left {
                margin-right: var.$mp-f;
            }
        }
    }
}


/*landscape*/

@media (min-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    // body {
    //     background: blue;
    // }
    .header {
        @include mix.center(nth(var.$hundreds, 9));
        .header-left {
            width: var.$per-1;
        }
        .header-center {
            width: var.$per-8;
            .header-center-ul {
                .menu-logo {
                    width: var.$mp-n;
                    height: var.$mp-n;
                }
                .ul-li {
                    font-size: 18px;
                }
            }
        }
        .header-right {
            width: var.$per-1;
        }
    }
}


/*----- movil -----*/


/*Portrait*/


/*Default*/

@media (max-width: 575.98px)and (orientation:portrait) {
    // body {
    //     background: green;
    // }

    .header {
        width: var.$mp-u + var.$size-p;
        margin-right: auto;
        margin-left: auto;
        margin-top: var.$mp-l;
        .header-left {
            width: var.$per-1;
            bottom: var.$mp-l;
            position: relative;
            left: 429px;
            top: -4px;
        }
        .header-center {
            width: var.$per-8;
            position: relative;
            top: var.$mp-j;
            align-items: center;
            display: contents;
            .header-center-ul {
                display: flex;
                .menu-logo {
                    width: var.$mp-n;
                    height: var.$mp-n;
                    margin-left: var.$mp-a;
                    margin-right: var.$mp-a;
                    position: relative;
                    bottom: var.$mp-d;
                    right: 117px;
                }
                .ul-li {
                    font-size: var.$size-j;
                    padding-bottom: var.$mp-f;
                }
                .ul-li-left{
                    position: relative;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    left: var.$mp-q + var.$mp-f;
                    top: -42px;
                }
                .ul-li-right{
                    position: relative;
                    top: var.$mp-k;
                    right: nth(var.$hundreds, 1);
                }
            }
        }
        .header-right {
            width: var.$per-1;
            bottom: var.$mp-l;
            position: relative;
            display: flex;
            right: 107px;
            .icon-align-left {
                margin-right: var.$mp-a;
                padding-left: var.$mp-e;
            }
        }
    }
}


/*landscape*/

@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    // body {
    //     background: pink;
    // }
    .header {
        width: 770px;
        .header-left {
            width: var.$per-1;
        }
        .header-center {
            width: var.$per-8;
            .header-center-ul {
                .menu-logo {
                    width: var.$mp-n;
                    height: var.$mp-n;
                    margin-left: var.$mp-f;
                    margin-right: var.$mp-f;
                }
                .ul-li {
                    font-size: 18px;
                }
            }
        }
        .header-right {
            width: var.$per-1;
            .icon-align-left {
                margin-right: 12px;
            }
        }
    }
}