@use '../../scss/utilities/variables' as var;
@use '../../scss/utilities/mixings' as mix;

.footer {
    width: var.$per-10;
    height: nth(var.$hundreds, 2);
    display: flex;
    align-items: center;
    font-family: var.$font-family;
    position: absolute;
    .footer-center {
        @include mix.center(var.$per-10);
        text-align: center;
        margin-bottom: var.$mp-i;
        .footer-logo {
            margin-bottom: var.$mp-i;
            font-weight: nth(var.$fw, 9);
            .log-name-niu{
                margin-bottom: var.$mp-b;
            }
        }
        .footer-info {
            margin-bottom: var.$mp-i;
            font-size: var.$size-h;
            .address,
            .phone,
            .cr {
                margin-bottom: var.$mp-f;
            }
        }
        .footer-contact {
            font-size: var.$mp-j;
            cursor: pointer;
        }
    }
}


/*----- Tablet -----*/

/*Portrait*/

@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    .footer {
        .footer-center {
            .footer-logo {
                font-size: var.$mp-g;
            }
            .footer-info {
                font-size: var.$mp-e;
                .address,
                .phone,
                .cr {
                    margin-bottom: var.$mp-d;
                }
            }
            .footer-contact {
                font-size: var.$mp-h;
            }
        }
    }
}

/*----- movil -----*/

/*Portrait*/

/*Default*/

@media (max-width: 575.98px)and (orientation:portrait) {
    .footer {
        .footer-center {
            width: auto;
        }
    }
}