.user-data {
    .data-title {
        margin-top: 20px;
        font-size: 24px;
        margin-left: 40px;
    }
    .form-data {
        display: grid;
        .form-data-center {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            .form-data-left {}
            .form-data-right {}
            .form-data-left,
            .form-data-right {
                display: grid;
                width: 300px;
                margin: 30px 30px 10px 30px;
                .input{
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    outline: none;
                    margin-bottom: 20px;
                }
            }
        }
        .button-update{
            width: 320px;
            margin: 0px auto 20px auto;
        }
    }
    .conditions{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
    }
}