.contact {
    width: 90%;
    margin: 4% auto;
    .contact-title {}
    .form-contact{
        width: 60%;
        margin: 60px auto;
        display: grid;
        .button-update {
            margin-top: 40px;
            margin-bottom: 20px;
        }
        input,
        textarea{
            border-top: none;
            border-left: none;
            border-right: none;
            outline: none;
        }
    }
    .info {
        width: 60%;
        margin: auto;
        text-align: center;
        .logo {
            font-weight: 900;
            .logo-name {}
        }
        .logo,
        .phone,
        .hours,
        .email {
            margin-bottom: 20px;
        }
        .hours {}
        .email {
        }
        p {
            margin-bottom: 2px;
        }
    }
}