.contact {
    width: 90%;
    margin: 25% auto;
    .info {
        width: 60%;
        margin: auto;
        text-align: center;
        .logo {
            font-weight: 900;
        }
        .logo,
        .phone,
        .hours,
        .email {
            margin-bottom: 20px;
        }
        .hours {
            .title-info{
                font-weight: 700;
            }
        }
        p {
            margin-bottom: 2px;
        }
    }
}