@use '../../scss/utilities/variables' as var;
@use '../../scss/utilities/mixings' as mix;
.home-content {
    @include mix.center(100%);
    height: var.$per-10;
    margin-top: var.$mp-q - var.$mp-f;
    font-family: var.$font-family;
    .home-header-picture {
        display: flex;
        margin-top: var.$mp-l + var.$mp-f;
        margin-bottom: var.$mp-l + var.$mp-f;
        .home-picture {
            width: var.$per-4;
            height: nth(var.$hundreds, 5) + (nth(var.$hundreds, 1) / 2);
            margin: var.$mp-h;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: nth(var.$hundreds, 1) var.$mp-f nth(var.$hundreds, 1) var.$mp-f;
        }
        .first-picture {
            background-image: url('../../images/plate1.jpg');
        }
        .second-picture {
            background-image: url('../../images/plate2.jpg');
        }
        .third-picture {
            background-image: url('../../images/plate3.jpg');
            background-position-y: -22px;
        }
    }
    .home-body-presentation {
        margin-top: nth(var.$hundreds, 1);
        margin-bottom: nth(var.$hundreds, 1);
        display: flex;
        align-items: center;
        .picture-presentation {
            width: nth(var.$hundreds, 6);
            height: nth(var.$hundreds, 6);
            background-image: url('../../images/plate4.jpg');
            margin-left: auto;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: var.$mp-f nth(var.$hundreds, 1) var.$mp-f nth(var.$hundreds, 3);
        }
        .title-presentation {
            font-size: var.$size-p;
            width: var.$mp-t - var.$mp-d;
            margin-left: var.$per-1;
            font-weight: nth(var.$fw, 8);
            margin-right: auto;
        }
    }
    .home-footer-hour {
        background-color: nth(var.$grey, 2);
        opacity: .9;
        width: var.$per-10;
        height: var.$mp-u + var.$mp-c;
        margin-top: var.$mp-q;
        margin-bottom: nth(var.$hundreds, 1);
        display: flex;
        align-items: center;
        .hour-circle {
            background: var.$white;
            @include mix.center(var.$per-2);
            height: var.$per-9;
            text-align: center;
            clip-path: circle(50% at 50% 50%);
            .hour-content {
                margin-top: var.$per-1;
                .hour-icon {
                    margin-bottom: var.$mp-f;
                    font-size: var.$size-k;
                }
                .hour-title {
                    font-weight: nth(var.$fw, 7);
                }
                .hour-slash {
                    margin-top: var.$mp-f;
                    margin-bottom: var.$mp-f;
                }
                .hour-days {
                    .and {
                        margin-top: var.$mp-f;
                        margin-bottom: var.$mp-f;
                    }
                }
            }
        }
    }
}

.modal-content {
    .btn {
        text-align: end;
        font-size: var.$mp-i;
    }
}


/*----- Escritorio -----*/

@media (min-width: 1400px){
    .home-content,
    .home-body-presentation,
    .home-footer-hour {
        max-width: nth(var.$hundreds, 10) + nth(var.$hundreds, 8);
    }
    
}

/*----- Tablet -----*/


/*Portrait*/

@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    .home-content {
        .home-header-picture {
            display: grid;
            margin-top: var.$mp-a;
            background-position: center;
            .home-picture {
                width: var.$per-9;
                height: nth(var.$hundreds, 4) + var.$mp-l;
                margin: var.$mp-f auto var.$mp-i auto;
            }
        }
        .home-body-presentation {
            width: var.$per-10;
            display: grid;
            margin-bottom: var.$mp-a;
            .picture-presentation {
                width: var.$per-9;
                margin-left: auto;
                margin-right: auto;
            }
            .title-presentation {
                position: relative;
                bottom: var.$mp-o;
                opacity: .9;
                left: nth(var.$hundreds, 2) + var.$mp-k;
                bottom: var.$mp-q + var.$mp-e;
                text-align: end;
                color: var.$white;
            }
        }
        .home-footer-hour {
            .hour-circle {
                width: var.$per-5;
                height: var.$per-9;
                .hour-content {
                    margin-top: var.$per-3 / 2;
                }
            }
        }
    }
}


/*landscape*/

@media (min-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    .home-content {
        .home-header-picture {
            .home-picture {
                background-position-y: var.$mp-a;
                background-position: center;
            }
            
        }
        .home-body-presentation {
            .picture-presentation {
                width: nth(var.$hundreds, 4);
            }
        }
        .home-footer-hour {
            .hour-circle {
                width: var.$per-3;
                height: var.$per-9;
                .hour-content {
                    margin-top: var.$per-3 / 2;
                }
            }
        }
    }
}


/*----- movil -----*/


/*Portrait*/


/*Default*/

@media (max-width: 575.98px)and (orientation:portrait) {
    .home-content {
        .home-header-picture {
            display: grid;
            margin-top: nth(var.$hundreds, 3);
            .home-picture {
                width: var.$per-9;
                height: nth(var.$hundreds, 4) + var.$mp-l;
                margin: var.$mp-f auto var.$mp-i auto;
            }
        }
        .home-body-presentation {
            width: var.$per-8;
            margin: nth(var.$hundreds, 2) auto var.$mp-a auto;
            display: grid;
            .picture-presentation {
                width: var.$per-10;
            }
            .title-presentation {
                position: relative;
                bottom: var.$mp-q + var.$mp-f;
                left: var.$mp-o;
                text-align: end;
                opacity: .9;
                color: white;
            }
        }
        .home-footer-hour {
            align-content: center;
            .hour-circle {
                width: var.$per-7;
            }
        }
    }
}


/*landscape*/

@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    .home-content {
        .home-header-picture {
            .home-picture {
                background-position-y: var.$mp-a;
                background-position: center;
            }
        }
        .home-body-presentation {
            .picture-presentation {
                width: var.$per-5;
            }
            .title-presentation {
                width: nth(var.$hundreds, 2);
            }
        }
        .home-footer-hour {
            .hour-circle {
                width: var.$per-5;
                height: var.$per-10;
            }
        }
    }
}