.cart {
    width: 100%;
    height: 90%;
    display: grid;
    .cart-msg{
        width: auto;
        margin: auto;
        font-size: 20px;
    }
    .info-title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
        position: relative;
        left: 95px;
    }
    .ticket {
        overflow: scroll;
        width: 80%;
        height: 600px;
        margin: auto;
        .ticket-info {
            display: flex;
            
            .info-lef {
                .number-order,
                .takeaway {
                    em {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
            }
            .info-right {
                .date {
                    margin-left: 20px;
                    em {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
            }
        }
        .ticket-orders {
            height: 300px;
            width: 90%;
            margin: auto;
            background-attachment: fixed;
            .ticket-order {
                height: 110px;
                border-bottom: .5px solid;
                position: relative;
                .image-product {
                    background-image: url('../../../images/food-ejm.jpeg');
                    width: 140px;
                    height: 100px;
                    background-size: cover;
                }
                .name-product,
                .descripton,
                .count {
                    position: relative;
                    left: 160px;
                    bottom: 100px;
                }
                .count {
                    bottom: 70px;
                }
                .price-counts {
                    float: right;
                    position: relative;
                    right: 20px;
                    bottom: 100px;
                    font-size: 20px;
                }
                .delete-product{
                    position: absolute;
                    font-size: 20px;
                    right: 10px;
                    top: 10px;
                }
            }
        }
    }
    .ticket-buttons {
        position: relative;
        .total {
            float: right;
            font-size: 24px;
            position: relative;
            right: 140px;
            em {
                font-size: 20px;
                font-weight: 500;
                right: 30px;
            }
        }
        .cancel,
        .code-generate {
        }
        .cancel{
            position: relative;
            top: 60px;
            left: 220px;
        }
        .code-generate {
            float: right;
            top: 34px;
            right: 120px;
            position: relative;
        }
    }
}